/* xpAnimation.css: XPオーブが弾けるアニメーション*/

.xp-orb {
    position: fixed;            /* 画面全体に対して固定 */
    left: 0;                   
    top: 0;
    width: 10px;
    height: 10px;
    background: radial-gradient(#9734e2, #7700a3);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;

    transition: transform 1s ease-out, opacity 1s ease-out;
    z-index: 999999; /* 前面に持ってくる */
}

@keyframes xpFlight {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(50px, -50px) scale(0.5);
        opacity: 0;
    }
}
